# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ / Android Studio
*.iml
*.ipr
*.iws
.idea/

# VS Code
.vscode/

# Flutter/Dart/Pub generated
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/
/coverage/
**/doc/api/
.metadata

# iOS generated
**/ios/Flutter/.last_build_id
**/ios/Flutter/ephemeral/
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/flutter_export_environment.sh
**/ios/Runner/GeneratedPluginRegistrant.h
**/ios/Runner/GeneratedPluginRegistrant.m
**/ios/Pods/

# Android generated
/android/app/debug
/android/app/profile
/android/app/release
/android/local.properties
**/android/**/GeneratedPluginRegistrant.java

# Gradle wrapper (downloadable, not needed in repo)
/android/gradlew
/android/gradlew.bat
/android/gradle/wrapper/gradle-wrapper.jar

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json
